.communication-form {
  width: 600px;
  flex: 1 1 auto;

  textarea {
    width: 100%;
    font-size: 22px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ced4da;
  }
}

.communication-form__remaining-chars {
  text-align: center;
  font-weight: bold;
  font-size: 28px;
}

.communication-form__buttons {
  text-align: right;
}
