<template name="CommunicationFormComponent">
  <div class="communication-form">
    <div class="form-group">
      <label for="message">Votre message</label>
      <textarea rows="6" name="message" maxlength={{maxSize}} class="form-control"></textarea>
    </div>
    {{#if maxSize}}
    <div class="communication-form__remaining-chars">
      {{remainingChars}} caractères restants
    </div>
    {{/if}}
  </div>
</template>