<template name="Add_Checkout_Modal">
  <div class="modal add-checkout-modal" tabindex="-1" role="dialog" id="addCheckoutModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Nouveau passage</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <div class="add-checkout__time">{{moFormat moNow 'HH:mm:ss'}}</div>
            <label for="description">
              Description
            </label>
            <textarea class="form-control" id="description" rows="5"></textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary js-add-list">Ajouter</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</template>