<template name="Campaign_Item">
  <div class="campaign-item page-inner__item">
    <div class="campaign-item__description">
      <header>
        <h3 class="campaign-item__name">
          <i class="fa fa-magic"></i> {{campaign.name}}</h3>
        {{#with campaign.createdAt}}
        <!-- <small>le {{moFormat this 'DD/MM/YYYY'}}</small> -->
        {{/with}}

        <div class="dropdown">
          <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            </button> -->
          <span class="dropdown-toggle" data-toggle="dropdown"></span>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item js-edit-campaign" data-campaign-id="{{campaign._id}}" href="#" data-toggle="modal" data-target="#editCampaignModal">
              <i class="fa fa-pencil"></i> Editer
            </a>
            <a class="dropdown-item js-campaign-delete" href="#">
              <i class="fa fa-trash "></i> Supprimer
            </a>
          </div>
        </div>

      </header>
      <main>
        <div class="campaign-item__date">Envoi {{displayCampaignDate campaign.number campaign.unit campaign.fieldRef}}</div>
        <div class="campaign-item__list-container text-warning">
          {{#each campaign.lists}}
          <div class="campaign-item__list">
            <i class="fa fa-user"></i> {{listName this}}</div>
          {{else}}
          <span class="campaign-item__list">
            <i class="fa fa-user"></i> Tous les contacts</span>
          {{/each}}
        </div>
        <p>{{campaign.message}}</p>
      </main>
    </div>
  </div>
</template>