<template name="Navbar">
  <nav class="navbar fixed-top navbar-expand-lg justify-content-between">
    <a class="navbar-brand" href="{{pathFor 'landing'}}">
      <img src="/images/logo-40.png" alt="Talaris logo">
      <span class="logo-text">Talaris</span>
      <h1 class="d-none">Talaris: Automatiser vos campagnes de communication</h1>
    </a>

    <div class="" id="navbarSupportedContent">
      {{#if currentUser}} {{#if isInRole 'admin'}}
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="{{pathFor 'logout'}}">
            <i class="fa fa-sign-out"></i> Se déconnecter</a>
        </li>
      </ul>
      {{else}}
      <ul class="navbar-nav mr-auto">
        <li class="nav-item d-none d-lg-inline">
          <a class="nav-link js-new-campaign" href="#">
            <i class="fa fa-plus"></i> Créer une nouvelle campagne</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            <img src="{{gravatarUrl}}" class="mr-1" /> {{shopName}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{pathFor 'account'}}">
              <i class="fa fa-info-circle"></i> Mon compte</a>
            <a class="dropdown-item" href="{{pathFor 'invoices'}}">
              <i class="fa fa-file"></i> Factures</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{pathFor 'logout'}}">
              <i class="fa fa-sign-out"></i> Se déconnecter</a>
          </div>
        </li>
      </ul>
      {{/if}} {{else}}
      <ul class="navbar-nav">
        {{#if $eq currentRouteName 'landing'}}
        <li class="nav-item">
          <a href="{{pathFor 'login'}}">Se connecter</a>
        </li>
        {{else}}
        <li class="nav-item">
          <a href="{{pathFor 'landing'}}">Accueil</a>
        </li>
        {{/if}}
      </ul>
      {{/if}}
    </div>
  </nav>
</template>
