.navbar {
  background-color: #22405f;
  padding: 0.2rem 1rem !important;
  transition: all 0.3s;
}

.navbar--active {
  background-color: #fff;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .14);
  color: #22405f;

  .navbar-nav a {
    color: #22405f;

    &:hover {
      color: #22405f;
      opacity: 0.9;
    }
  }

  .navbar-brand {
    color: #F7122A;
  }
}

.navbar-brand {
  font-size: 24px;
  color: white;

  .logo-text {
    position: relative;
    top: 4px;
  }


  &:hover {
    color: white;
  }
}

.navbar-nav {
  .nav-link {
    padding: 0;
  }
  a {
    color: white;
    &:hover,
    &:active {
      color: whitesmoke;
    }
  }
  .dropdown-menu {
    a {
      color: #2b4965;
      &:hover {
        background-color: whitesmoke;
      }
      &:active,
      &:focus {
        color: #22405f;
        border-color: transparent;
        background-color: transparent;
      }
    }
  }
}
