<template name="Administration_Page">
  <div class="page__inner">
    <button class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">Ajouter un utilisateur</button>
  </div>

  <div class="mt-3">
    <h3>Listes des utilisateurs</h3>
    {{> tabular table=TabularTables.Users class="table table-striped table-bordered table-condensed"}}
  </div>

  <div class="modal add-user-modal" tabindex="-1" role="dialog" id="addUserModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Nouveau utilisateur</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="" id="enrollUserForm">

          <div class="modal-body">
            <div class="form-label-group">
              <input type="text" id="inputShop" class="form-control" placeholder="Nom de la boutique" required="" autofocus="" autocomplete="off">
            </div>

            <div class="form-label-group mt-3">
              <input type="email" id="inputEmail" class="form-control" placeholder="Adresse email" required="" autofocus="" autocomplete="off">
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary js-add-user">Ajouter</button>
          </div>

        </form>
      </div>
    </div>
  </div>

  {{> editShopAdmin shop=currentShop}}
</template>

<template name="adminEditContactIcon">
  {{#unless isUserAdmin}}
  <i class="fa fa-pencil js-edit-shop-admin-modal" data-toggle="modal" data-target="#editShopAdminModal"></i>
  {{/unless}}
</template>

<template name="editShopAdmin">
  <div class="modal edit-admin-shop-modal" tabindex="-1" role="dialog" id="editShopAdminModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Modifier la boutique</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="editShopAdminForm">
          <div class="modal-body">

            <div class="form-group">
              <label for="remainingCredit">Crédit SMS restant</label>
              <input id="remainingCredit" type="number" min=0 value="{{shop.credits.sms}}" class="form-control" />
            </div>
            <div class="form-group">
              <label for="senderName">Nom d'envoi (Sms)</label>
              <input id="senderName" value="{{shop.twilioConfig.senderId}}" type="text" maxlength="11" class="form-control" />
              <small class="text-muted">(11 caractères maximum)</small>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary js-save-shop-admin">Modifier</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>