<Template name="Contacts_Page">
  <div class="container page__inner page-contacts">
    {{> Breadcrumb config=breadcrumdData}}
    <button class="btn btn-primary js-add-contact pull-right mb-3" data-toggle="modal" data-target="#addContactModal">
      <i class="fa fa-plus"></i> Ajouter un contact</button>
    <h3>Contacts</h3>
    <div class="contacts__table-container mt-3 {{#if contactCount}}d-block{{else}}d-none{{/if}}">
      {{> tabular table=TabularTables.Contacts class="table table-striped table-bordered table-condensed" schema=ContactSchema}}
    </div>
    {{#unless contactCount}}
    <div class="m-5 p-5 text-center">
      <div>
        <img src="/images/contacts.png" alt="contacts" class="m-2">
      </div>
      <span class="text-muted">
        Vous n'avez pas encore de contacts
      </span>
    </div>
    {{/unless}}
  </div>
  {{> Add_Contact_Modal}}
</Template>