.dataTables_paginate {
  .paginate_button {
    margin-right: 6px;

    &.disabled {
      a {
        color: #eaeaea;
        display: none;
      }
    }
  }
}

.dataTables_length {
  select {
    margin: 0 6px;
  }
}

.contacts__table {
  margin-top: 24px;
}

.page-contacts {
  .row {
    font-size: 0.8rem;
    width: 100%;
  }

  tbody tr,
  tbody tr:nth-of-type(odd) {
    &:hover {
      background-color: rgba($color: #2b4965, $alpha: 0.2);
      cursor: pointer;
    }
  }
}

.contacts__table-container {
  table {
    width: 100% !important;
  }
}
