<template name="Add_Campaign_Modal">
  <div class="modal add-campaign-modal" tabindex="-1" role="dialog" id="addCampaignModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Nouvelle campagne</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{#autoForm schema=CampaignSchema id="addCampaign" type="method" meteormethod="addCampaign"}}
        <div class="modal-body">
          <div class="edit-campaign__step">
            <h3>Nom de votre campagne</h3>
            <div class="edit-campaign__help"><i class="fa fa-info-circle"></i> Choisissez un titre à votre campagne afin de pouvoir la retrouver plus facilement par la suite</div>
            {{> afFieldInput name='name' autofocus=''}}
          </div>
          <div class="edit-campaign__step">
            <h3>Votre message</h3>
            <div class="edit-campaign__help"><i class="fa fa-info-circle"></i> Entrez votre message ici, n'oubliez pas que vous n'avez le droit qu'à 160 caractères le décompte s'affiche en bas de la zone de texte. ASTUCE Vous n'avez pas besoin d'inséré le nom de votre magasin il apparaîtra en nom d'expéditeur.</div>
            {{> afFieldInput name='message' rows=3}}
            <div class="edit-campaign__remaining-char">
              ({{remainingChars}} caractères restants)
            </div>
          </div>
          <div class="edit-campaign__step">
            <h3>Type de campagne</h3>
            <div class="edit-campaign__help"><i class="fa fa-info-circle"></i> Ici vous pouvez choisir entre
              1) une campagne à date fixe envoyé un jour précis dans l'année
              2) une campagne automatique qui pourra se répéter plusieurs fois automatiquement à chaque fois que la date de référence se présentera.</div>
            {{> afFieldInput name='type'}} {{#if $eq campaignType 'automatic'}}
            <div class="">
              <div class="form-group">
                <h4 for="dateRef.field">Date de référence</h4>
                <div class="edit-campaign__help"><i class="fa fa-info-circle"></i> Choisissez à quelle date votre campagne commencera</div>
                {{> afFieldInput name='dateRef'}}
              </div>
              <div class="form-group">
                <h4>Délai (optionnel)</h4>
                <div class="edit-campaign__help"><i class="fa fa-info-circle"></i> Choisissez un moment précis avant ou âpres la date de référence à laquelle votre campagne sera envoyé. Si vous ne choisissez pas ce délais optionnel la campagne partira à la date de référence.</div>
                <div class="edit-campaign__date">
                  {{> afFieldInput name='delay.number'}} {{> afFieldInput name='delay.period' }} {{> afFieldInput name='delay.position' }}
                </div>
              </div>
            </div>

            {{else}}
            <div class="form-group">
              <h4>Choisir une date d'envoi</h4>
              {{> afFieldInput name="executionDate"}}
            </div>
            {{/if}}
            <div class="form-group">
              <h4>Fréquence</h4>
              <div class="edit-campaign__help"><i class="fa fa-info-circle"></i> Choisissez ici
                1) une seule fois, votre campagne sera alors envoyé uniquement au date présélectionné au dessus
                2) tous les ans : votre campagne sera alors répété automatiquement avec les mêmes caractéristiques chaque année, à la même date.</div>
              <div class="edit-campaign__frequency">
                {{> afFieldInput name='frequency.unit'}}
              </div>
            </div>
          </div>

          <div class="edit-campaign__step">
            <h3>Choisir les contacts</h3>
            <div class="edit-campaign__help"><i class="fa fa-info-circle"></i> Choisir les contacts : Choisissez ici les clients à qui vous souhaitez envoyer le message programmé.
              1) a tous vos contacts
              2) à une liste bien particulière</div>
            <label>
              <input type="checkbox" id="allContactsCheckbox" checked> Tous les contacts
            </label>
            {{#if hasLists}}
            <div class="mb-1">ou choisir une ou plusieurs listes:</div>
            <div class="ml-2">
              {{> afFieldInput name="lists"}}
            </div>
            {{/if}}
          </div>

        </div>

        <div class="modal-footer">
          <div class="text-right  mt-3">
            <a class="btn btn-secondary mr-2 js-close-modal">Fermer</a>
            <button type="submit" class="btn btn-primary" disabled={{invalid}}>
              <i class="fa fa-save"></i> Enregistrer</button>
          </div>
        </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>