<template name="Loading_Page">
  <div class="page__inner">
    <div class="loading__container">
      <!-- <img class="mb-4" src="/images/logo.png" alt="" width="72" height="72"> -->
      {{> spinner}}
    </div>
  </div>
</template>