<template name="Add_List_Modal">
  <div class="modal add-list-modal" tabindex="-1" role="dialog" id="addListModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Nouvelle liste</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{#autoForm schema=ListSchema id="addList" type="method" meteormethod="addListMethod"}}
        <div class="modal-body">
          {{> afQuickField name="name"}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary">Ajouter</button>
        </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>