.login__page {
}

.form-signin {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: 0 auto;
  background-color: white;
  padding: 24px;
  margin-top: 24px;
  border: 1px solid #bbb;
  -webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.55);
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.55);

  input {
    margin-bottom: 12px;
  }

  hr {
    margin: 2rem 0;
  }
}

.register__agreement {
  margin: 6px 0;
  font-size: 0.9rem;
}

.form-signin__option {
  text-align: center;
  color: #9a9a9a;
  font-size: 0.9rem;

  a {
    color: #737373;
  }
}

.form-signin__or {
  color: #9a9a9a;
  text-align: center;
  position: relative;
  bottom: 2.75rem;
  background-color: white;
  width: 60px;
  margin: auto auto -30px auto;
}

.form-signin__resend-email {
  margin: 12px 0;
  font-size: 0.9rem;
}
