<template name="Edit_Campaign_Modal">
  <div class="modal edit-campaign-modal" tabindex="-1" role="dialog" id="editCampaignModal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Editer la campagne</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{#autoForm schema=CampaignSchema doc=campaign id="editCampaign" type="method-update" meteormethod="editCampaign"}}
        <div class="modal-body">
          <div class="edit-campaign__step">
            <h3>Votre message</h3>
            {{> afFieldInput name='message' rows=3}}
            <div class="edit-campaign__remaining-char">
              ({{remainingChars}} caractères restants)
            </div>
          </div>
          {{> afFieldInput name="shopId" type="hidden"}}

        </div>

        <div class="modal-footer">
          <div class="text-right  mt-3">
            <a class="btn btn-secondary mr-2 js-close-modal">Fermer</a>
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-save"></i> Enregistrer</button>
          </div>
        </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>