.edit-campaign__date {
  display: flex;

  input,
  select {
    margin-right: 12px;
  }
}

.edit-campaign__step {
  margin: 24px 0;

  .form-group {
    margin: 0 12px;
  }

  h3 {
    font-size: 1.4rem;
    color: #2b4965;
  }

  h4 {
    font-size: 1.2rem;
    color: #2b4965;
    margin-top: 12px;
  }
}

.edit-campaign__remaining-char {
}
