<template name="Campaign_Item">
  <div class="campaign-item page-inner__item">
    <div class="campaign-item__description">
      <header class="campaign-item__header {{#if $eq campaign.type 'automatic'}}campaign-item__header--automatic{{/if}}">
        <h3 class="campaign-item__name">
          {{#if $eq campaign.type "automatic"}}
          <i class="fa fa-magic"></i> {{else}}
          <i class="fa fa-clock-o"></i> {{/if}} {{campaign.name}}
        </h3>

        <div class="dropdown">
          <span class="dropdown-toggle" data-toggle="dropdown"></span>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item js-edit-campaign" data-campaign-id="{{campaign._id}}" href="#" data-toggle="modal" data-target="#editCampaignModal">
              <i class="fa fa-pencil"></i> Editer message
            </a>
            <a class="dropdown-item js-campaign-delete" href="#">
              <i class="fa fa-trash "></i> Supprimer
            </a>
          </div>
        </div>

      </header>
      <main>

        {{#if $eq campaign.type 'automatic'}}
        <span class="badge badge-warning">Automatique</span>
        {{/if}} {{#if $eq campaign.state 'completed'}}
        <span class="badge badge-danger">Terminé</span>{{else}}
        <span class="badge badge-success">Active</span>{{/if}} {{#if $eq campaign.type 'automatic'}}
        <div class="campaign-item__date">
          <i class="fa fa-send"></i> {{#if $eq campaign.frequency.unit 'year'}}Tous les ans,{{/if}} {{displayCampaignDate campaign}}</div>
        {{else}}
        <div class="campaign-item__date">
          <i class="fa fa-send"></i> {{#if $eq campaign.frequency.unit 'year'}}Tous les ans,{{/if}} le {{moFormat campaign.executionDate 'DD MMMM'}}
        </div>
        {{/if}}

        <div class="campaign-item__statistics">
          {{#with campaign.sentCount.sms}}
          <i class="fa fa-bar-chart"></i> {{this}} sms envoyés {{/with}}
        </div>

        <div class="campaign-item__list-container text-warning">
          {{#each campaign.lists}} {{#with listName this}}
          <div class="campaign-item__list">
            <i class="fa fa-user"></i> {{this}}
          </div>
          {{/with}} {{else}}
          <span class="campaign-item__list">
            <i class="fa fa-user"></i> Tous les contacts</span>
          {{/each}}
        </div>
        <p>{{campaign.message}}</p>
      </main>
    </div>
  </div>
</template>