.campaign-item {
  display: flex;
  margin-top: 24px;
  border: 1px solid #bbb;
  background-color: white;

  p {
    font-style: italic;
    border: 1px solid #bbb;
    padding: 6px;
    background-color: #eaeaea;
    border-radius: 6px;
    font-size: 0.8rem;
    min-height: 6rem;
  }

  .dropdown-toggle {
    font-size: 1.1rem;
  }
}

.campaign-item__warning {
  font-size: 0.7rem;
}

.campaign-item__active {
  margin-right: 12px;
}

.campaign-item__list {
  margin-right: 12px;
  white-space: nowrap;
}

.campaign-item__name--desactive {
  color: #c3c3c3;
}

.campaign-item__description {
  flex: 1 1 auto;
}

.campaign-item__date {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: lowercase;
}

.campaign-item__list-container {
  margin: 6px 0;
  font-size: 0.8rem;
  display: flex;
  flex-wrap: wrap;
}

.dropdown-item {
  color: #2b4965;

  &:hover {
    color: #2b4965;
  }

  &:active {
    color: white;
    background-color: #2b4965;
  }
}

.campaign-item__header--automatic {
  background-color: #375574 !important;
}

.campaign-item__frequency {
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: lowercase;
}

.campaign-item__statistics {
  font-size: 0.8rem;
  font-weight: bold;
}
