<template name="Reset_Password_Page">
  <div class="page__inner container">
    <div class="page-inner__block">
      <h2>Changement de mot de passe</h2>
      <form>
        <div class="form-group">
          <label for="password">Nouveau de mot de passe</label>
          <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div class="pb-5">
          <button class="btn btn-primary float-right js-reset-password" type="submit">Changer de mot de passe</button>
        </div>
      </form>
    </div>
  </div>
</template>