<template name="Edit_Contact_Modal">
  <div class="modal edit-contact-modal" tabindex="-1" role="dialog" id="editContactModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Modifier le contact</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{#autoForm schema=ContactSchema id="editContact" type="method" meteormethod="editContactMethod" doc=contact}}
        <div class="modal-body">
          {{> afQuickField name="firstname"}} {{> afQuickField name="lastname"}} {{> afQuickField name="email"}} {{> afQuickField name="phone"}}
          {{> afQuickField name="zipcode"}}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary js-edit-contact">Modifier</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>