<template name="Breadcrumb">
  {{#with config}}
  <div class="page-breadcrumb">
    {{#each parents}}
    <span class="page-breadcrumb__parent">
      <a href="{{pathFor routeName}}">{{friendlyName}}</a> > </span>
    {{/each}}
    <span class="page-breadcrumb__current">{{current.friendlyName}}</span>
  </div>
  {{/with}}
</template>