.list-detail__count {
  width: 100%;
  text-align: center;
}

.list-detail__total {
  font-size: 1.6rem;
}

.page-list-detail {
  .row {
    font-size: 0.8rem;
  }

  tbody tr,
  tbody tr:nth-of-type(odd) {
    &:hover {
      background-color: rgba($color: #2b4965, $alpha: 0.2);
      cursor: pointer;
    }
  }
}
