<Template name="List_Detail_Page">
  <div class="container page__inner page-list-detail">
    {{> Breadcrumb config=breadcrumdData}}
    <div class="row mb-3">

      <h3 class="col-sm-9">{{list.name}}</h3>
      <div class="dropdown col-sm-3 ">
        <button class="btn btn-light dropdown-toggle pull-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-cog"></i>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" data-toggle="modal" data-target="#addContactModal" href="#">
            <i class="fa fa-plus"></i> Nouveau contact</a>
          <a class="dropdown-item" data-toggle="modal" data-target="#editListModal" href="#">
            <i class="fa fa-edit"></i> Modifier la liste</a>
          <a class="dropdown-item js-delete-list" href="#">
            <i class="fa fa-trash"></i> Supprimer la liste</a>
        </div>
      </div>
    </div>
    <div>
      <div class="contacts__table-container mt-3 {{#if contactsCount}}d-block{{else}}d-none{{/if}}">
        {{> tabular table=TabularTables.List selector=selector class="table table-striped table-bordered table-condensed" schema=ContactSchema}}
      </div>
      {{#unless contactsCount}}
      <div class="m-5 p-5 text-center">
        <div>
          <img src="/images/contacts.png" alt="contacts" class="m-2">
        </div>
        <span class="text-muted">
          Vous n'avez pas encore de contacts dans cette liste
        </span>
      </div>
      {{/unless}}
    </div>

  </div>
  {{> Edit_List_Modal list=list}} {{> Add_Contact_Modal}}
</Template>