.Template__selection {
  height: 32px;
  border-top: 1px solid rgb(190, 190, 190);
  display: flex;
  align-items: center;
  padding: 12px 24px;

  &:hover {
    cursor: pointer;
    background-color: #bbb;
  }
}

.Template__inner {
  border: 1px solid #bbb;
  border-radius: 6px;

  h3 {
    padding: 12px 24px;
  }
}
