<template name="TemplateComponent">
  <div class="Template__inner">
    <h3>Liste des templates</h3>
    <div>
      <div class="Template__selection">Bienvenue</div>
      <div class="Template__selection">Promotion</div>
      <div class="Template__selection">Nouveautés</div>
      <div class="Template__selection">Relance magasin</div>
      <div class="Template__selection">Bonne fête de fin d'année</div>
      <div class="Template__selection">Saint valentin</div>
      <div class="Template__selection">Promo Noel</div>
      <div class="Template__selection">Solde Juillet</div>
    </div>
  </div>
</template>