.account__change-password {
  .form-group {
    label {
      // font-weight: bold;
      flex: none;
      margin-right: 12px;
      width: 200px;
      text-align: right;
    }
  }
}

.account__page {
  h3 {
    margin-bottom: 12px;
    color: #2b4965;
  }
}

.change-password__error {
  margin: 6px 0;
}
