<template name="Account_Page">
  <div class="page__inner account__page">
    {{#with shop}} {{#unless currentPack}}
    <div class="alert alert-warning" role="alert">
      <h4 class="alert-heading">Compte en version d'essai</h4>
      <p>Vous recevez ce message car votre compte est en version d'essai. Pour garder vos campagnes actives, pensez à commander
        un pack au plus tôt. Merci de contactez nos services sur
        <a href="mailto:contact@talaris.io" class="alert-link">contact@talaris.io</a>.</p>
    </div>
    {{/unless}}
    <div class="page-inner__block">
      <h3>Information du compte</h3>

      <div>
        <div>Nom du magasin: {{name}}</div>
        <div>compte crée le {{moFormat createdAt 'DD/MM/YYYY'}}</div>
        <div>Email administrateur: {{adminEmail}}</div>
      </div>
    </div>
    {{> Change_Password}}
    <div class="page-inner__block">
      <h3>Crédits</h3>
      <div>
        Vous êtes actuellement sur le pack {{currentPack.name}}. Vous avez utilisé {{credits.sms}} / {{currentPack.sms}} SMS.
      </div>

      <div>Pour augmenter votre quota, merci de contacter le
        <a href="mailto:support@talaris.io">support</a>
      </div>
    </div>
    {{/with}}
  </div>
</template>

<template name="Change_Password">
  <div class="page-inner__block account__change-password">
    <h3>Changer de mot de passe</h3>
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <form>
          {{#with errorMessage}}
          <div class="text-danger change-password__error">{{this}}</div>
          {{/with}}
          <div class="form-group">
            <label for="oldPassword">Ancien mot de passe:</label>
            <input required type="password" class="form-control" name="oldPassword">
          </div>
          <div class="form-group">
            <label for="newPassword">Nouveau mot de passe:</label>
            <input required type="password" class="form-control" name="newPassword">
          </div>
          <div class="form-group">
            <label for="newPasswordConfirm">Retapez le mot de passe:</label>
            <input required type="password" class="form-control" name="newPasswordConfirm">
          </div>
          <div>
            <button type="submit" class="btn btn-primary btn-sm float-right js-change-password">Changer de mot de passe</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>