<template name="List_Item">
  {{#with list}}
  <div class="list-detail__list-item page-inner__item list-item">
    <header>
      <h3>
        <!-- <i class="fa fa-user"></i> {{name}} -->
        {{name}}
      </h3>
      <!-- <small>le {{moFormat createdAt 'DD/MM/YYYY'}}</small> -->
      <small>{{count}}
        <i class="fa fa-user"></i>
      </small>
    </header>
    <main>
      <!-- <div class="list-item__count">{{count}} contacts</div> -->
      <p>
        {{description}}
      </p>
      <a class="btn btn-secondary btn-sm" href="{{pathFor 'listDetail' listId=_id}}">Voir</a>
    </main>
  </div>
  {{/with}}
</template>