.shop__inner {
  width: 88%;
  margin: 0 auto;
  padding: 24px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  bottom: 80px;
  background-color: #e2e2e2;
}

.shop__top-card {
  display: flex;

  img {
    margin-right: 24px;
    height: 128px;
    width: auto;
  }
}

.shop__public-link {
  padding: 24px 0;
  font-size: 16px;

  span {
    font-weight: bold;
    font-size: 24px;
  }
}

.Shop__banner {
  text-align: center;

  a {
    width: 100%;
    height: auto;
  }
}

.dashboard__feature-link {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  color: #2b4965;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 83ms;

  i {
    font-size: 2rem;
  }

  &:hover {
    cursor: pointer;
    // background-color: azure;
    color: #1f3448;
    // background-color: #2b4965;
    // color: white;
  }

  h3 {
    font-size: 1.2rem;
  }
}

.dashboard-widget {
  display: flex;
  justify-content: space-between;
}

.dashboard-widget__tool {
  padding: 6px;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.dashboard__chart-container {
  // background-color: #eaeaea;
}

.dashboard-widget__tool--success {
  background-color: rgba(30, 97, 75, 0.3);
}

.dashboard-widget__tool--danger {
  background-color: rgba(220, 53, 69, 0.3);
}

.dashboard-chart__title {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.dashboard-chart__number {
  font-size: 1.6rem;
}
