<template name="Dashboard_Page">
  {{#with shop}}
  <div class="container page__inner">
    {{> Breadcrumb config=breadcrumdData}}
    <div>
      <div class="container mb-5">
        <div class="row">
          <div class="col-sm-4 border dashboard__feature-link js-redirect-feature" data-route="contacts">
            <img src="/images/contacts.png" alt="contacts" class="mt-2 mb-2">
            <h3>
              Mes contacts
            </h3>
          </div>
          <div class="col-sm-4 border dashboard__feature-link js-redirect-feature" data-route="lists">
            <img src="/images/lists.png" class="mt-2 mb-2" alt="listes">
            <h3>
              Mes listes
            </h3>
          </div>
          <div class="col-sm-4 border dashboard__feature-link js-redirect-feature" data-route="campaigns">
            <img src="/images/globe.png" class="mt-2 mb-2" alt="campagnes">
            <h3>
              Mes campagnes
            </h3>
          </div>
        </div>

      </div>
      <div class="container">
        <div class="row mt-3 mb-3">
          {{#if hasStats}}
          <div class="col-lg-6 mt-3">
            {{#if isReady}} {{> Stat_Chart modifier="contacts" title="Nouveaux contacts" label="Nombre de contacts"}} {{/if}}
          </div>
          <div class="col-lg-6 mt-3">
            {{#if isReady}} {{> Stat_Chart modifier="sms" title="SMS envoyés" label="Nombre de SMS envoyé"}} {{/if}}
          </div>
          <div class="col-lg-6 mt-3">
            {{#if isReady}} {{> Stat_Chart modifier="checkouts" title="Passages en boutique" label="Nombre de passages"}} {{/if}}
          </div>
          {{else}}
          <div class="mt-5 mb-5" style="width:100%">
            <div class="text-center">
              <img src="/images/statistics.png" alt="statistiques" class="mb-2">
            </div>
            <div class="text-muted text-center">Vous n'avez pas encore de statistique, revenez un peu plus tard</div>
          </div>
          {{/if}}
        </div>
      </div>

    </div>
  </div>
  {{/with}}
</template>