<template name="Public_Shop_Page">
  {{#if isReady}}
  <div class="public-shop__container {{#if relatedShop}}public-shop__container--blur{{/if}}">
    {{#with relatedShop}}
    <div class="public-shop__top-card">
      <img src="/images/icons/shop.png" alt="{{name}} logo">
      <div>
        <h1>{{name}}</h1>
        <div>{{description}}</div>
      </div>
    </div>
    {{else}}
    <div>Pas de shop</div>
    {{/with}}
  </div>
  {{#with relatedShop}}
  <div class="public-shop__list">
    <div class="public-shop__list-legend">
      <h3>Inscrivez-vous pour recevoir les offres de {{name}} gratuitement</h3>
    </div>
    <div class="public-shop__list-form">
      {{#autoForm schema=ContactSchema id="publicAddContact" type="normal"}} {{> afQuickField name='firstname' autofocus=''}} {{>
      afQuickField name='lastname'}} {{> afQuickField name='email'}} {{> afQuickField name='phone'}} {{> afQuickField name='zipcode'}}
      <button type="submit" class="btn btn-primary">S'inscrire</button>
      {{/autoForm}}
      <p class="public-shop__list-agreement">En cliquant sur S’inscrire, vous acceptez les
        <a tabindex="2" href="/legal/user-agreement">Conditions d’utilisation</a>, la
        <a tabindex="2" href="/legal/privacy-policy">Politique de confidentialité</a>, et la
        <a tabindex="2" href="/legal/cookie-policy">Politique relative aux cookies</a> de Talaris.
      </p>
    </div>
  </div>
  {{/with}} {{else}} {{> Loading_Page}} {{/if}}
</template>