.public-shop__container {
  padding: 48px;
  width: 960px;
  margin: auto;
  background-color: #e9ecef;
}

.public-shop__container--blur {
  filter: blur(15px);
  -webkit-filter: blur(15px);
  height: 100vh;
}

.public-shop__list {
  margin: auto;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) rotateY(0deg) translateX(-50%);
  width: 380px;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #c1c1c1;
  margin: auto;
  margin-top: 48px;
  -webkit-box-shadow: 7px 6px 12px -5px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 7px 6px 12px -5px rgba(0, 0, 0, 0.73);
  box-shadow: 7px 6px 12px -5px rgba(0, 0, 0, 0.73);

  .form-group {
    text-align: left;
  }

  .help-block {
    color: red;
  }
}

.public-shop__top-card {
  justify-content: center;
  display: flex;

  img {
    margin-right: 24px;
  }

  h1 {
    text-transform: uppercase;
    font-size: 2.4rem;
  }
}

.public-shop__list-legend {
  background-color: #f7f8fa;
  padding: 12px 24px;

  h3 {
    text-align: center;
    font-size: 1.2rem;
  }
}

.public-shop__list-form {
  padding: 24px;
}

.public-shop__list-agreement {
  font-size: 0.8rem;
}
