$blue: blue !default;
$cello: #22405f !default;
$sanjuan: #2b4965 !default;
$kumera: #92692c;
$mulefawn: #92502c;
$greenpea: #1e614b;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$cinnabar: #e74c3d !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;
$white: #fff;
$gray-600: #b5b3b3;
$gray-800: #bbb;
$gray-100: #f9f9f9;

$colors: (
  blue: $sanjuan,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $cinnabar,
  orange: $kumera,
  yellow: $yellow,
  green: $greenpea,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
) !default;

$theme-colors: (
  primary: $sanjuan,
  secondary: $gray-600,
  success: $greenpea,
  info: $cyan,
  warning: $kumera,
  danger: $cinnabar,
  light: $gray-100,
  dark: $gray-800
) !default;

@import '../../../node_modules/bootstrap/scss/bootstrap';
// @import 'node_modules/bootstrap/scss/bootstrap';
// @import '{}/node_modules/bootstrap/scss/bootstrap';
// @import 'bootstrap/scss/bootstrap';
