<template name="Update_Shop_Page">
  {{#autoForm collection="Shops" id="updateShop" type="normal" doc=userShop}}
  <fieldset>
    <legend>Modifier la fiche producteur</legend>
    {{> afQuickField name='name' autofocus=''}} {{> afQuickField name='description' style="color: orange" label-style="color:green"}}
    <input type="hidden" value="{{_id}}">
  </fieldset>
  <button type="submit" class="btn btn-primary">Modifier</button>
  {{/autoForm}}
</template>