<template name="Add_Contact_Modal">
  <div class="modal add-contact-modal" tabindex="-1" role="dialog" id="addContactModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Nouveau contact</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{#autoForm schema=ContactSchema id="addContact" type="method" meteormethod="addContactMethod"}}
        <div class="modal-body">

          {{> afQuickField name="firstname"}} {{> afQuickField name="lastname"}} {{> afQuickField name="email"}} {{> afQuickField name="phone"}}
          {{> afQuickField name="zipcode"}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
          <button type="submit" class="btn btn-primary js-add-list">Ajouter</button>
        </div>
        {{/autoForm}}
      </div>
    </div>
  </div>
</template>