<template name="Invoices_Page">
  <div class="page__inner">
    <div class="page-inner__block">
      Vos factures ne sont pas encore disponibles. Si vous voulez recharger votre crédit, contacter
      <a href="mailto:support@talaris.io">notre service client</a>
    </div>
  </div>
</template>