<template name="User_Agreement_Page">
  <div class="page__inner user-agreement__page">

    <button class="btn btn-secondary js-navigation-back">Retour</button>

    <div class="container">
      <div class="page-inner__block page__legal">
        <h2>Conditions générales d'utilisation de
          <span class="app_name">Talaris</span>
        </h2>

        <h3>
          1/ OBJET
        </h3>
        <p>
          Ce document a pour objet de fixer les conditions générales du service de communication pour les entreprises, proposé par
          TALARIS SAS situé au 7 allée des Iris 97429 PETITE ILE - RCS XXXXXXXXXX et de définir les obligations et responsabilités
          de TALARIS SAS et de l’utilisateur (ou «client»), dénommés ci-après ensemble les «Parties» ou individuellement
          la «Partie».
        </p>

        <p>
          Ces conditions générales sont accessibles et imprimables à tout moment, sur le site internet https://talaris.io , et prévaudront
          sur toute autre version disponible sur un autre support.
        </p>

        <p>
          Les présentes conditions générales peuvent être complétées par des conditions particulières. Celles-ci devront être explicitement
          acceptées par les Parties. Elles peuvent figurer sur un bon de commande ou faire l'objet d'un acte à part. En cas
          de contradictions, les conditions particulières prévalent sur ces conditions générales. Toute condition posée par
          l’utilisateur notamment conditions d’achat seront, à défaut d'acceptation expresse, inopposables à TALARIS SAS.
        </p>

        <p>
          Les présentes conditions générales s’appliquent dès la création du compte client, ainsi que pour toute commande passée en
          ligne ou auprès du service commercial et plus généralement pour toute utilisation du service TALARIS SAS, y compris
          en cas d’offre gratuite.
        </p>

        <p>
          En accédant et en utilisant le service TALARIS, l’utilisateur reconnaît avoir pris connaissance, compris et accepté expressément
          et sans réserve les présentes conditions générales qui s’appliquent.
        </p>

        <h3>2/ DESCRIPTION/ACCES AU SERVICE</h3>
        <p>
          TALARIS est une solution logicielle de type SaaS (Software as a Service) disposant de fonctionnalités, permettant notamment
          d’envoyer, sous réserve d’emploi de crédits prépayés, des SMS (Short Message Service) à une liste de contacts déterminée
          par le client sur des terminaux compatibles, à destination de la France et/ou de l’International (Selon la liste
          des destinations et possibilités de réception disponibles sur le site internet https://talaris.io ), ci-après le
          Service.
        </p>
        <p>
          L’accès au Service s’effectue à travers une plateforme dédiée (logiciel Saas) sur le site Internet ou par API disponible
          et configurée par le client, après création et connexion au compte client. L’utilisation du Service requiert également
          une connexion Internet ainsi que la commande et l’utilisation de crédits SMS.
        </p>
        <p>Dans le cadre d’une première création de compte, l’utilisateur est informé que les crédits qui lui sont offerts ont
          une durée de validité limitée.</p>

        <h3>3/ PACK DE CREDITS</h3>
        <p>Plusieurs packs au nombre de crédits prédéfinis sont disponibles à la vente. Pour plus d'informations sur ces packs,
          l'utilisateur est invité à consulter la page tarif sur le site https://talaris.io, soit en contactant un conseiller
          commercial de TALARIS SAS.</p>

        <p>Les crédits achetés ont une durée de validité de 12 mois (356 jours) à compter du jour de la validation de la commande
          par TALARIS SAS. L’achat d’un pack est ferme et définitif et ne pourra faire l’objet d’une demande de remboursement
          intégral ou partiel par le client, y compris en cas de non utilisation des crédits pendant sa période de validité.
          La durée de validité des crédits est rappelée dans l’outil MES CREDITS et des rappels sont affichés plusieurs jours
          avant le terme pour informer le client. Les crédits non utilisés subsistant sur le compte d’un client à la fin
          de la période de 12 mois pourront être intégralement reconduits pour 12 mois supplémentaires si ce même client
          souscrit un nouveau pack au nombre de crédits identique ou supérieur à la dernière commande et cela avant la fin
          de la validité de ses crédits.</p>

        <h3>4/ VALEUR ET DECOMPTE DE CREDITS</h3>

        <p>
          Par principe: un (1) crédit permet d’envoyer un (1) SMS d’une taille au maximum de 160 caractères via la plateforme. Si le
          nombre de caractères du SMS est compris entre 161 et 300 caractères, deux (2) crédits seront décomptés. Si le nombre
          de caractères du SMS est compris entre 301 et 450 caractères au maximum, trois (3) crédits seront décomptés.
        </p>

        <p>
          Le nombre de crédits nécessaire pour l’envoi d’(1) un SMS d’une taille de moins de 160 caractères vers un destinataire suivant
          la règle de décompte ci-dessus, varie selon la destination et/ou selon la nature du SMS envoyé (SMS contextualisé
          : SMS envoyé suite au traitement d’une réponse ou d’une action d’un destinataire). Il convient à l’utilisateur
          de prendre connaissance régulièrement de la grille des destinations prévue à cet effet sur le site Internet https://talaris.io.
          TALARIS SAS peut modifier la grille des destinations en ajoutant ou supprimant des destinations, et ce à tout moment.
          TALARIS SAS peut également modifier la grille tarifaire des destinations sans préavis, ces derniers dépendant de
          la tarification d’opérateurs tiers.
        </p>

        <p>
          Suivant la norme GSM internationale, en fonction des caractères utilisés lors de l'écriture d'un SMS, la taille du SMS peut
          être modifiée. Le client est en mesure de vérifier le décompte des caractères et des crédits dans la solution logicielle
          lors de la rédaction de son message personnalisé. L’utilisateur est informé que le décompte des crédits utilisés
          s’effectue à l’envoi et non à la réception des SMS par les destinataires. Les tests d’envoi font également l’objet
          d’un décompte de crédits.
        </p>

        <h3>
          5/ COMMANDE – LIVRAISON
        </h3>

        <p>L’utilisateur déclare disposer du pouvoir et de la capacité nécessaires à l’exécution des présentes, ainsi que des
          conditions particulières le cas échéant, et à la passation de commande.</p>

        <p>L'utilisateur reconnaît avoir vérifié l'adéquation du service à ses besoins et avoir reçu de la société TALARIS SAS
          toutes les informations et conseils qui lui étaient nécessaires pour souscrire, en connaissance de cause.</p>

        <p>Toute commande est effectuée, soit par une souscription directement en ligne sur le site Internet, soit par un bon
          de commande émis par notre service commercial. Les commandes sont réputées ferme dès réception et validation de
          la commande par TALARIS SAS. Elles ne sont plus susceptibles de modification ou d'annulation après cette date.
          TALARIS SAS se réserve le droit d'annuler toute commande en cas de suspicion avérée de fraude.</p>

        <p>Le client ne répondant pas à la définition de consommateur au sens du code de la consommation, il ne bénéficie pas
          des dispositions propres au droit de rétractation.</p>

        <p>Les crédits, les options et/ou les accès, le cas échéant, sont immédiatement attribués ou mis en service pour les
          options et accès, au jour du complet paiement du prix, sauf meilleur accord écrit entre les Parties. Pour prévenir
          des risques de fraude, un délai de validation du règlement et/ou de la commande peut intervenir. Ce délai dépend
          de notre partenaire de paiement électronique. Celui-ci effectue un certain nombre de contrôles et peut, le cas
          échéant, alerter nos services sur la nécessité d’investiguer sur l’origine et la teneur d’une transaction.</p>

        <p>TALARIS pourrait être amené à demander au client des informations complémentaires. Ce dernier s’oblige à apporter
          des réponses dans les meilleurs délais, sans quoi la commande pourra être rejetée à la seule discrétion de TALARIS
          SAS.
        </p>

        <h3>6/ TARIFS ET CONDITIONS DE PAIEMENT</h3>

        <p>Le prix applicable est celui en vigueur au jour de la commande. Le prix étant indiqué HT, il convient d'y ajouter
          la TVA en vigueur.</p>

        <p>Nos produits sont payables à la commande, hors conditions particulières, directement en ligne sur le site par communication
          du numéro de carte de crédit (mode sécurisé SSL) ou tout autre mode de paiement possible au jour de la commande.</p>

        <p>Les factures seront disponibles et téléchargeables sur le compte client, ce que le client accepte. En cas de retard
          ou de défaut total ou partiel du règlement par le client, une indemnité forfaitaire pour frais de recouvrement
          d’un montant de 40 € par facture, sera applicable de plein droit. Seront rajoutées de plein droit des pénalités
          de retard égales à 25% annuels le jour suivant la date d’échéance de la facture. Aucun escompte ne sera consenti
          pour un paiement anticipé. Les sommes déjà versées par le client seront définitivement acquises par TALARIS. </p>

        <h3>7/ OBLIGATIONS ET RESPONSABILITE DE L’UTILISATEUR</h3>

        <p>L'utilisateur s'engage à communiquer des informations exactes lors de son inscription par la création d’un compte
          client et lors des commandes. En cas d'erreur ou omission volontaire ou involontaire dans la transmission des informations
          communiquées par l'utilisateur TALARIS SAS ne pourra être tenue responsable d’erreurs de facturation, de retard
          ou d'une absence de livraison. En cas de modifications des informations transmises, l’utilisateur s’engage à en
          informer sans délai TALARIS et à lui adresser toute mise à jour.</p>

        <p>Seul l’utilisateur est responsable de la conservation et de l'utilisation de son identifiant et mot de passe de son
          compte client. TALARIS ne saurait être responsable des conséquences que pourraient avoir toute divulgation, même
          accidentelle, de son code et/ou identifiant à un tiers.</p>

        <p>Toute cession de compte est interdite sans autorisation expresse et préalable de TALARIS.</p>

        <p>L’utilisateur est responsable du paiement de l’ensemble des sommes facturées. Il est également responsable de l’exécution
          de ses obligations au titre des relations contractuelles avec la société TALARIS</p>
        <p>L’utilisateur s’engage à respecter les prescriptions données par TALARIS dans sa documentation, ainsi que l’ensemble
          des conseils et recommandations communiqués.</p>

        <p>L’utilisateur fait son affaire personnelle, à ses frais exclusifs, de l'acquisition, la mise en place, la maintenance
          et la connexion des différents éléments de la configuration et des moyens de télécommunications nécessaires à l'accès
          au Service en mode Saas. En cas d’utilisation de l’API par l’utilisateur, la configuration de celle-ci se fera
          par lui-même et sous sa seule responsabilité, conformément aux instructions du manuel (documentation) et/ou du
          support mis à disposition.</p>

        <p>L’utilisateur est seul responsable de son usage du service TALARIS et des conséquences qui en résulterait. Il est
          également seul responsable de la gestion de son compte client et du contenu des SMS envoyés. De même, l’utilisateur
          est seul responsable de la collecte des numéros de téléphones utilisés avec le service, de leur validité et compatibilité
          avec le Service.</p>

        <p>L’utilisateur garantit TALARIS contre toutes plaintes, réclamations, actions et/ revendications que TALARIS pourrait
          subir du fait de la violation, par l’utilisateur de ses obligations ou garanties aux termes des présentes. Il s’engage
          à ce titre à indemniser TALARIS de tout préjudice qu’elle subirait et à lui payer tous les frais, charges et/ou
          condamnations, y compris accord transactionnel, qu’elle pourrait avoir à supporter de ce fait.</p>

        <p>L’utilisateur est interdit de laisser paraitre toute confusion entre lui-même et TALARIS et ne pas laisser supposer
          que TALARIS participe au contenu envoyé et à la commercialisation des produits ou/et services du client.</p>

        <h4>7.1 - Respect de la législation</h4>

        <p>TALARIS interdit l’utilisation de son service pour l’exercice d’une activité illégale ou illicite et pour l’envoi,
          la réception et le stockage de contenus non autorisés ou à caractère illégal, illicite.</p>

        <p>Lors de l’utilisation du service TALARIS, l'utilisateur doit se conformer aux dispositions légales et réglementaires.</p>

        <p>L’utilisateur s’engage en particulier au respect de la loi informatique et libertés de 1978 modifiée. TALARIS agissant
          en qualité de sous-traitant, l’utilisateur est seul considéré comme responsable de traitement des données qu’il
          utilise dans le cadre du service TALARIS. Le client garantit à TALARIS que le contenu et les bases de numéros de
          téléphones utilisés dans le cadre de ses campagnes sont mises à jour et sont libres de droit ou que le client en
          détient tous les droits et qu’il détient toutes les autorisations nécessaires pour les utiliser, exploiter.</p>

        <p>A noter qu’en France, les campagnes mobiles de marketing direct sont en partie régies par l’article L.34-5 du code
          des postes et des communications électroniques et l’article L.121-20-5 du code de la consommation. L'utilisateur
          ne peut utiliser les services de TALARIS pour envoyer des SMS à des fins de publicité, de prospection directe (SMS
          Marketing), sans le consentement préalable (opt-in), libre et spécifique du destinataire des messages. L’envoi
          de SMS marketing est interdit du lundi au samedi de 20h30 à 8h00, et à toutes heures le dimanche et les jours fériés.
          Ces horaires sont susceptibles de modifications selon les opérateurs. Si le client déclenche des campagnes pendant
          ces périodes, l’envoi ne sera effectif que pendant les périodes autorisées et sur indications quant à la date et
          heure fournies par le client.</p>

        <p>Si toutefois, l’envoi de SMS marketing viendrait à ne pas être empêché par TALARIS, seul le client serait responsable
          et supporterait seul les conséquences de ses actes. Ainsi TALARIS serait en droit de répercuter toutes les amendes
          et frais subis du fait de l’agissement non-conforme du client.</p>

        <p>L’utilisateur doit par ailleurs permettre aux destinataires de ses campagnes de s'opposer, gratuitement et sans aucune
          justification, au traitement des données à caractère personnel les concernant. L’utilisateur est seul responsable
          de la prise en compte et de la gestion du droit d’opposition d’un destinataire ayant manifesté son souhait, notamment
          en utilisant le mot-clé « STOP», de ne plus recevoir de message. TALARIS met à disposition un système de listage
          des numéros ayant souhaité ne plus recevoir de SMS.</p>

        <p>L’utilisateur devra veiller à la bonne utilisation de cette fonctionnalité ou à défaut, utiliser un procédé similaire,
          le tout étant d’appliquer la réglementation en vigueur.</p>

        <h4>7.2 - Limitations d’utilisation</h4>

        <p>Outre l'obligation de respecter les obligations légales, le client reconnaît et accepte les limitations fixées par
          TALARIS SAS. TALARIS est une solution exclusivement destinée et réservée à un usage professionnel et non personnel/privé.
          TALARIS SAS n'autorise pas en outre l'utilisation du service pour l'envoi de contenus déloyaux tels que l’envoi
          de SMS à caractère violent, obscène, pornographique, diffamatoire, blessant ou discriminant, ni de contenus destinés
          à promouvoir certaines activités sensibles, comme les jeux en ligne ; les casinos, les offres de revenus complémentaires,
          la voyance, la perte de poids, etc.</p>
        <p>Sans toutefois avoir obligation de le faire, par mesure de sécurité et pour vérifier la conformité de l'utilisation
          du Service, TALARIS se réserve le droit de recevoir automatiquement une copie du message envoyé par l'utilisateur,
          ce que l’utilisateur accepte expressément.</p>
        <p>
          TALARIS se réserve le droit d'utiliser ces copies pour procéder à une identification de l'émetteur d'une campagne émise avec
          le service. Les campagnes envoyées peuvent donc être soumises à modération préalable avant d'être définitivement
          acheminées aux destinataires. Ainsi, dès lors qu'une campagne est refusée par le service de modération, il appartient
          à l'utilisateur de procéder à une nouvelle campagne tenant compte des préconisations et instructions apportées
          par ledit service. L'utilisateur pourra se voir réaffecter les crédits propres à l'envoi de la campagne refusée,
          à la seule discrétion de TALARIS. Il est toutefois entendu que cette faculté n'aurait pas pour effet d'écarter
          ou de minimiser la responsabilité de l'utilisateur dans le cadre de l'utilisation du service dont il est le seul
          et l'unique responsable.
        </p>

        <h3>8/ OBLIGATIONS -RESPONSABILITE ET LIMITATIONS DE RESPONSABILITE DE TALARIS </h3>

        <p>

          TALARIS SAS exécute ses obligations selon les règles de l’art en usage dans sa profession et n’est tenue qu’à une obligation
          de moyens.
        </p>

        <p>TALARIS met à disposition de l’utilisateur la solution logicielle Saas par le biais d'un accès à son serveur par
          le réseau Internet. Cette mise à disposition est faite par accès distant, afin de permettre le traitement sur le
          serveur de TALARIS des données transmises par l’utilisateur.</p>

        <p>TALARIS prend en charge la maintenance corrective et évolutive de la solution logicielle Saas.</p>

        <p>
          TALARIS assure dans le cadre de son obligation de moyens, l’acheminement des campagnes SMS du client, sous réserve de l’emploi
          de crédits prépayés, vers les destinataires choisis par le client et/ou leur réception, mais ne garantit pas du
          succès commercial et/ou marketing desdites campagnes SMS. Les raisons de la non délivrance/réception d’un SMS peuvent
          être diverses (interruption de l’appareil de réception pour une durée prolongée, problème technique chez le fournisseur,
          mauvaise saisie des numéros, numéro abandonné, etc.). Dès lors qu’une tentative d’envoi/réception a été effectuée,
          la société TALARIS ne saurait être tenue pour responsable quel qu’en soit le motif et ne procédera à aucun remboursement
          de crédits dès lors que la non délivrance/réception ne lui ait pas directement imputable.
        </p>

        <p>
          TALARIS ne garantit pas que le Service et ses outils sont en mesure de satisfaire à des exigences de performances et/ou qu’ils
          fonctionneront sans discontinuité, ni bug ou encore qu’ils répondent aux spécifications ou besoins spécifiques
          de l’utilisateur.
        </p>

        <p>
          AUTANT QUE LA LOI APPLICABLE L'Y AUTORISE, LES CONTENUS, LOGICIELS, APPLICATIONS, RESULTATS, MIS A LA DISPOSITION EN LIAISON
          AVEC OU PAR LE SERVICE SONT FOURNIS «TEL QUEL» ET «TELS QUE DISPONIBLES", "AVEC TOUTES LES ERREURS» ET SANS GARANTIE
          DE QUELQUE NATURE QUE CE SOIT, EXPLICITE OU IMPLICITE. Les Parties reconnaissent qu'un logiciel peut contenir des
          erreurs et que toutes les erreurs ne sont pas économiquement rectifiables ou qu'il n'est pas toujours nécessaire
          de les corriger. TALARIS ne garantit pas en conséquence que l'ensemble des défaillances ou erreurs du logiciel
          seront corrigées.
        </p>

        <p>
          TALARIS s'efforce, dans la mesure du possible, d’assurer la permanence et la continuité de son Service. Pour des raisons
          de maintenance et de mise à jour curatives et/ou évolutives, ou pour toute autre raison, il est possible que le
          Service soit temporairement interrompu partiellement ou totalement. Dans la mesure du possible, les interruptions
          feront l’objet d’une information par tous moyens, au client.
        </p>

        <p>TALARIS est responsable de la mauvaise exécution de ses obligations. Néanmoins, TALARIS SAS ne peut en aucun cas
          être tenue responsable :</p>

        <ul>
          <li>En cas de dommages résultant du non-respect par l'utilisateur de ses obligations ;</li>
          <li>En cas de dommages résultant partiellement ou totalement d'une utilisation non-conforme, malveillante ou/et anormale
            par l'utilisateur du service, y compris par négligence, erreurs, défaillance et/ou non-respect des conseils et
            recommandations données ;</li>
          <li>en cas de dommages résultant d'utilisation en lien avec le service par l’utilisateur de programmes non fournis
            ou avalisés par TALARIS et susceptibles d'affecter les services ou les données de l’utilisateur ; </li>

          <li>en cas de dommages résultant d'utilisation de tout ou partie du service par l’utilisateur alors que TALARIS, suite
            à une difficulté ou pour quelque autre raison que ce soit, avait recommandé d'en suspendre l'utilisation ;</li>

          <li>En cas de dommages immatériels, indirects, accessoires, spéciaux, ou moraux et notamment les dommages résultant
            d'une perte de profits, d'une perte de chance, d'une perte d'exploitation, d'un manque à gagner, ou d'une privation
            d'usage.
          </li>

          <li>en cas de dommages liés à une intrusion ou à un maintien frauduleux d'un tiers dans le système, ou à l'extraction
            illicite de données, malgré la mise en œuvre des moyens de sécurisation conformes aux données actuelles de la
            technique, TALARIS ne supportant qu'une obligation de moyen au regard des techniques connues de sécurisation
            ;
          </li>

          <li>En cas de dommages ne résultant pas exclusivement et directement de la défaillance de TALARIS, notamment la défaillance
            du réseau Internet ou encore la malveillance ou défaillance d'un tiers, d’un opérateur ou encore de la défaillance
            de toute chose dont TALARIS n'a pas la complète maîtrise.</li>

        </ul>

        <p>En tout état de cause, la responsabilité pécuniaire de TALARIS sera limitée au montant des sommes effectivement versées
          par l’utilisateur à TALARIS SAS au cours des 12 mois précédant le fait générateur du dommage, toutes causes de
          préjudices confondues.</p>

        <h3>9/ SUPPORT</h3>

        <p>TALARIS met à disposition de l’utilisateur un ensemble de documents techniques/informatifs et recommandations sur
          son site Internet. En cas de besoins, une assistance est présente pour conseiller et accompagner l’utilisateur
          si des difficultés techniques éventuelles viendraient à survenir dans l’exécution des présentes. L’utilisateur
          peut joindre l’assistance technique par formulaire sur le site internet ou par autres moyens dont le détail figure
          sur le site Internet https://talaris.io.</p>

        <h3>10/ PROPRIETE INTELLECTUELLE</h3>

        <p>TALARIS conserve la propriété et l’intégralité des droits de propriété intellectuelle et industrielle attachés aux
          technologies qu’elle met à disposition de l’utilisateur dans le cadre du service, ainsi que sur tout contenu rendu
          disponible par TALARIS via le service. Cela comprend notamment en sus du logiciel et de l’API, la documentation,
          le nom et logo de TALARIS, tous les noms, logos, noms de services et de produits, dessins et modèles, slogans et
          droit d’auteur, brevets, marques et plus généralement tout autre droit de propriété intellectuelle.</p>

        <p>L’utilisateur conserve la propriété et l’intégralité des droits sur tout contenu qu’il communique lors de l'utilisation
          du service. Cela comprend notamment sa base de destinataires, le contenu de ses messages, le nom et logo de son
          entreprise, tous les noms, logos, noms de services et de produits, dessins et modèles, slogans et droit d’auteur,
          brevets, marques et plus généralement tout autre droit de propriété intellectuelle.</p>

        <h3>11/ SUSPENSION – RESILIATION</h3>

        <h4>11.1 Suspension</h4>

        <p>TALARIS se réserve le droit de suspendre de plein droit sans préavis et sans mise en demeure préalable, l'accès au
          service sans que l’utilisateur ne puisse prétendre à une quelconque indemnisation à ce titre dans les cas suivants
          :
        </p>

        <ul>

          <li>
            En cas de transmissions d’informations erronées par l’utilisateur ;
          </li>

          <li>en cas de suspicion avérée de fraude (ex : carte de paiement frauduleuse) ;</li>

          <li>en cas de non-respect de l’article 8.1 et 8.2 des dispositions des présentes ;</li>

          <li>en cas de plaintes de destinataires de SMS ; </li>

          <li>en cas de comportement et/ou d'agissement de l’utilisateur susceptibles de mettre en péril la sécurité et/ou le
            fonctionnement normal du service.</li>

        </ul>
        <p>TALARIS se réserve le droit de suspendre de plein droit le service, suite à une mise en demeure préalable restée
          infructueuse, sans que l’utilisateur ne puisse prétendre à une quelconque indemnisation, en cas de non-paiement
          du prix. Ces dispositions n'exemptent pas l'utilisateur de toutes les sommes dues, le cas échéant et ne fait pas
          renoncer TALARIS à sa faculté de résiliation. La suspension ne prolonge pas la durée de validité des packs de crédits.</p>

        <h4>11.2 Résiliation</h4>

        <p>L’utilisateur peut résilier le service dans les formes et conditions prévues lors de sa commande.</p>

        <p>En cas de manquement par l'une des Parties à l'une ou l'autre de ses obligations, non réparé dans un délai de 8 jours
          à compter soit d'un courrier électronique adressé à la Partie en cause notifiant les manquements en cause, soit
          par lettre recommandée avec accusé de réception, le service sera résilié de plein droit, sans préjudice de tous
          dommages et intérêts éventuels qui pourraient être réclamés à la Partie défaillante.</p>

        <p>Le Service pourra toutefois être résilié de plein droit, sans préavis et sans mise en demeure préalable par TALARIS
          en cas de non-respect de l’article 8.1 et 8.2 des présentes ainsi qu'en cas de plaintes de destinataires de SMS,
          trafic anormal, de plaintes d’opérateurs ou plus généralement tout comportement et/ou agissement du client susceptible(s)
          de mettre en péril la sécurité et/ou le fonctionnement normal du service. Le fait que TALARIS n'ait pas interdit
          ou suspendu au client l'accès au Service, ne décharge en rien le client de sa responsabilité qu'il ne pourra en
          aucun cas faire supporter à TALARIS SAS qui la décline formellement.</p>

        <p>Tout crédit non consommé au terme ou à la résiliation des relations contractuelles entre les Parties sera définitivement
          perdu. Aucun remboursement ne sera effectué. Cette disposition n'exempte pas l'utilisateur de toutes les sommes
          dues. La résiliation aux torts de l’utilisateur entraîne l’exigibilité immédiate de l’intégralité des sommes dues.</p>

        <h3>12/ FORCE MAJEURE</h3>

        <p>TALARIS SAS et l'utilisateur ne pourront être tenus responsables de l'absence ou d'un retard dans l'exécution de
          tout ou partie du contrat dû à un événement de force majeure, si celui-ci remplit les conditions légales et jurisprudentielles
          requises pour qualifier la force majeure en droit français.</p>


        <p>
          De plus, de convention expresse entre TALARIS SAS et l'utilisateur, pourront être tenus pour des cas de force majeure, les
          événements d'interruption, panne, sabotage des moyens de communication, incendie, inondation, intempéries exceptionnelles,
          avaries, émeutes, guerre, grève totale ou partielle, lock out. Le cas de force majeure suspend les obligations
          de chacun pendant toute la durée de son existence. Toutefois, si le cas de force majeure avait une durée d'existence
          supérieure à trente (30) jours consécutifs, il ouvrirait droit à la résiliation de plein droit du service par TALARIS
          ou l'utilisateur, huit (8) jours après l'envoi d'une lettre recommandée avec accusé de réception notifiant cette
          décision.
        </p>

        <h3>13/ MODIFICATIONS SERVICE/CONDITIONS GENERALES/PRIX</h3>

        <p>TALARIS se réserve le droit de modifier le service en ce compris les fonctionnalités et/ou les termes des présentes
          conditions générales, notamment en fonction de l'évolution des techniques et/ou de la législation. Toutes les modifications
          apportées seront présentées sur le site Internet et portées à la connaissance des utilisateurs par ce biais. Il
          incombe à l’utilisateur de vérifier régulièrement sur le site internet. En cas de modifications des conditions
          générales, l’utilisateur peut résilier sans frais le service en dérogation à l’article résiliation, par lettre
          recommandée avec accusé de réception auprès de TALARIS SAS dans un délai de trente jours à compter de l’entrée
          en vigueur de ces modifications. Au-delà, l’utilisateur sera réputé avoir accepté les modifications.</p>

        <p>TALARIS SAS peut également modifier ses prix à tout moment. En cas de modifications de prix applicables à tout contrat
          en cours, l’utilisateur sera informé au préalable un mois avant l’entrée en vigueur des nouveaux tarifs. A compter
          de cette information, l’utilisateur aura 30 jours pour résilier sans frais le service, par lettre recommandée avec
          accusé de réception. Au-delà, l’utilisateur sera réputé avoir accepté les modifications. Toutefois, TALARIS se
          réserve le droit de répercuter, sans préavis, toute nouvelle taxe réglementaire, administrative, fiscale ou toute
          augmentation de ces dites taxes sans possibilité de résiliation pour l’utilisateur.</p>

        <h3>14/ PUBLICITE</h3>
        <p>TALARIS est autorisée à faire mention de la raison sociale du client et des logos correspondants à titre de référence
          commerciale sur tout support de communication.</p>

        <p>Cette mention à titre gratuit ne saurait faire l’objet d’aucune compensation ou rétribution de quelque manière que
          ce soit. Le client peut mettre fin à cette autorisation à tout moment sur simple notification écrite à l’adresse
          mail suivante : contact@talaris.io</p>


        <h3>15/ DIVISIBILITE</h3>
        <p>Dans le cas où une clause des présentes serait déclarée invalide ou inexécutoire, ladite clause sera séparée, et
          les parties restantes des présentes demeureront en vigueur et de plein effet.</p>

        <h3>16/ TOLERANCES</h3>

        <p>
          Il est formellement convenu que toute tolérance ou renonciation d'une des Parties à faire valoir un droit quelconque, ne
          saurait valoir modification du contrat, ni générer une renonciation à un droit quelconque pour l’avenir.
        </p>

        <h3>17/ CONFIDENTIALITE ET DONNEES PERSONNELLES</h3>

        <p>TALARIS SAS recueille des informations relatives à la création du compte client, une commande, un paiement électronique
          (civilité, société, nom, prénom, adresse électronique, adresse postale, numéro de téléphone, numéro de fax …) et
          les données relatives à l'utilisation du service (base de données du client, contenu des messages) ci-après « Données
          ». La collecte de ces données a pour finalités la gestion de la clientèle (traitement de la commande, gestion des
          factures...), l’émission de statistiques et la délivrance du service. TALARIS s'interdit de communiquer les données
          aux personnes autres que celles qui ont qualité pour en connaître pour la gestion et la délivrance du service.
          Ainsi, les données ne sont pas transmises à des tiers, à l'exclusion de ceux habilités à participer à la gestion
          et à la délivrance du service. Toutefois, en cas de demande des autorités judiciaires et/ou administratives, TALARIS
          sera tenu de transmettre toutes informations requises.</p>

        <p>TALARIS s'engage à n'utiliser les données qu'afin d'exécuter ses obligations visées aux termes des présentes et pour
          les finalités décrites dans le présent article. L'ensemble du personnel de TALARIS est tenu au secret professionnel.</p>

        <p>Lorsque TALARIS SAS agit en qualité de sous-traitant, elle n’agit sur instructions du client et sous sa responsabilité.</p>

        <p>TALARIS s’engage à ne pas vendre, ni louer, les bases de destinataires utilisés par les clients.</p>

        <p>Les données de campagne sont conservées pendant toute la durée de la relation commerciale et pendant une durée de
          six mois à compter de la fin de la relation commerciale, sauf opposition du client. Les données relatives à la
          relation commerciale notamment nom, prénom, société, adresse, numéro de téléphone sont conservées pendant trois
          ans, sauf opposition du client. D’autres données sont conservées afin de respecter les obligations légales de TALARIS.</p>

        <p>Dans le cadre de la délivrance des prestations, les Parties peuvent être amenées à échanger des informations confidentielles
          : toutes les informations, identifiées comme confidentielles ou non, de quelque nature qu'elles soient, orales,
          écrites, sous forme électronique ou sous quelque autre forme que ce soit, y compris, notamment, les techniques,
          savoir-faire, notes, avis, estimations, rapports, études, analyses, dessins, lettres, listings, tableaux, logiciels,
          spécifications, chiffres, graphiques, enregistrements sonores, compilations, prévisions, copies, toutes réunions
          ou tous documents relatifs à l'activité ou aux projets passés, présents ou futurs, communiquées directement ou
          indirectement par les Parties, ci-après «Informations Confidentielles».</p>

        <p>Ne sont pas considérées comme Informations Confidentielles, les références commerciales de chacune des Parties.</p>

        <p>Les Parties s'engagent à garder les Informations Confidentielles de manière strictement confidentielle ; à ne pas
          les divulguer autrement que pour les seuls besoins d'exécution de leurs obligations ou dans le cadre des exceptions
          prévus aux présentes ou sauf accord préalable écrit de la Partie concernée.</p>

        <p>Cet engagement de confidentialité ne s'applique pas aux informations : </p>

        <ul>

          <li>qui sont entrées dans le domaine public préalablement à la date de divulgation ou communication ou qui tomberont
            dans le domaine public après leur communication et/ou divulgation sans que la cause ne soit imputable à la Partie
            qui divulgue; </li>

          <li>dont il peut être démontré qu'elles sont déjà connues de la Partie avant leur transmission ;</li>

          <li>qui auraient été développées indépendamment de la Partie ; </li>

          <li>qui auront été reçues d'un tiers de manière licite, sans violation du contrat ; </li>

          <li>que la loi, la réglementation applicable ou une décision de justice obligeraient à divulguer.</li>
        </ul>

        <p>L’utilisateur reconnaît que TALARIS n'a aucun contrôle sur le transfert des Données de l’utilisateur via les réseaux
          de télécommunication publics utilisés par l’utilisateur pour accéder au Service et notamment le réseau Internet.
          L’utilisateur reconnaît et accepte que TALARIS ne puisse garantir la confidentialité des Données lors du transfert
          de celles-ci sur les dits réseaux publics. En conséquence, TALARIS ne pourra en aucun cas voir sa responsabilité
          engagée en cas, notamment, de détournement, de captation, de corruption des Données, ou de tout autre évènement
          susceptible d'affecter celles-ci, survenant à l'occasion de leur transfert sur les réseaux de télécommunication
          publics.
        </p>

        <p>Conformément aux dispositions de la Loi Informatique et Libertés du 6 janvier 1978 modifiée, l’utilisateur bénéficie
          d'un droit d'accès, de rectification ou d'opposition sur les données nominatives collectées le concernant. Ces
          droits peuvent être exercés en contactant TALARIS à l’adresse électronique : contact@talaris.io</p>

        <h3>18/ LOI APPLICABLE ET JURIDICTION COMPETENTE</h3>

        <p>Toute relation contractuelle entre TALARIS SAS et le client est soumise au droit français. A défaut d'accord amiable,
          toutes contestations sont de la compétence exclusive du Tribunal de commerce de SAINT PIERRE, Réunion, même en
          cas de demande incidente, de recours en garantie ou de pluralités de défendeurs.</p>

        <h3>19/ TITRES</h3>

        <p>Les titres n'ont que valeur de convenance. En cas de contradiction entre le titre et le corps d'un article, il est
          entendu que le corps de l'article prévaut.</p>
      </div>
    </div>

  </div>
</template>

<template name="Privacy_Policy_Page">
  <h1>Privacy_Policy_Page</h1>
</template>

<template name="Cookie_Policy_Page">
  <h1>Cookie_Policy_Page</h1>
</template>