.user-agreement__page {
  button {
    margin-bottom: 12px;
  }
}

.page__legal {
  h3 {
    font-weight: bold;
    font-size: 1.5rem;
  }

  h4 {
    font-style: italic;
    font-size: 1.2rem;
  }
}
