<template name="Stat_Chart">
  <div class="dashboard__chart-container border">
    <div class="dashboard-widget mt-3 mb-1">
      <div class="dashboard-widget__tool ml-3">
        <div class="widget-index">
          <div class="text-dark dashboard-chart__title">{{title}}</div>
          <div class="text-primary text-center dashboard-chart__number">
            <strong>
              {{weekCount}}
            </strong>
          </div>
        </div>
      </div>
      <div class="dashboard-widget__tool dashboard-widget__tool--{{#if $lt percentProgress 0}}danger{{else}}success{{/if}} mr-3">
        <div class="widget-status ">
          <div class="text-center text-{{#if $lt percentProgress 0}}danger{{else}}success{{/if}}">
            <strong>
              <i class="fa {{#if $lt percentProgress 0}}fa-caret-down{{else}}fa-caret-up{{/if}}"></i> {{percentProgress}}%
            </strong>
          </div>
          <small class="text-{{#if $lt percentProgress 0}}danger{{else}}success{{/if}}">7 derniers jours</small>
        </div>
      </div>
    </div>
    <canvas class="statChart" width="400" height="160"></canvas>
  </div>
</template>