<template name="Navleft">
  <nav class="sidebar">
    <div class="sidebar-sticky">
      <ul class="nav flex-column">
        {{#if isInRole 'admin'}}
        <li class="nav-item">
          <a class="nav-link active js-nav" href="#" data-route="administration">
            <i class="fa fa-lock"></i>
            <span class="d-none d-md-inline">
              Administration
            </span>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        {{else}}
        <li class="nav-item">
          <a class="nav-link active js-nav" href="#" data-route="dashboard">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" class="feather feather-home">
              <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
              <polyline points="9 22 9 12 15 12 15 22"></polyline>
            </svg>
            <span class="d-none d-md-inline">
              Tableau de bord
            </span>
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active js-nav" href="#" data-route="contacts">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
              <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
              <circle cx="9" cy="7" r="4"></circle>
              <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
              <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
            </svg>
            <span class="d-none d-md-inline">
              Contacts
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-nav" href="#" data-route="lists">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" class="feather feather-layers">
              <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
              <polyline points="2 17 12 22 22 17"></polyline>
              <polyline points="2 12 12 17 22 12"></polyline>
            </svg>
            <span class="d-none d-md-inline">

              Listes
            </span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link js-nav" href="#" data-route="campaigns">
            <i class="fa fa-bullhorn"></i>
            <span class="d-none d-md-inline">
              Campagnes
            </span>
          </a>
        </li>
        {{/if}}
      </ul>


      {{#if lists.count}}
      <h6 class="sidebar-heading d-none d-md-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Listes</span>
        <a class="d-flex align-items-center text-muted" href="#" data-toggle="modal" data-target="#addListModal">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
            stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus-circle">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="8" x2="12" y2="16"></line>
            <line x1="8" y1="12" x2="16" y2="12"></line>
          </svg>
        </a>
      </h6>
      <ul class="nav d-none d-md-flex flex-column mb-2">
        {{#each lists}}
        <li class="nav-item">
          <a class="nav-link" href="{{pathFor 'listDetail' listId=_id}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
              <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
              <polyline points="14 2 14 8 20 8"></polyline>
              <line x1="16" y1="13" x2="8" y2="13"></line>
              <line x1="16" y1="17" x2="8" y2="17"></line>
              <polyline points="10 9 9 9 8 9"></polyline>
            </svg>
            {{name}}
          </a>
        </li>
        {{/each}}
      </ul>
      {{/if}} {{#with currentShop}}
      <h6 class="sidebar-heading d-none d-md-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Crédits</span>
      </h6>
      <ul class="nav d-none d-md-flex flex-column mb-2">
        <li class="nav-item nav-item__remaining-credit">

          <span>{{credits.sms}} SMS restants</span>
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{percentSent}}%" aria-valuenow="percentSent" aria-valuemin="0"
              aria-valuemax="100"></div>
          </div>
          <a class="btn btn-primary btn-sm" href="{{pathFor 'invoices'}}">Recharger</a>
        </li>
      </ul>
      {{/with}}
    </div>
  </nav>

</template>