.sidebar {
  background-color: #2b4965 !important;

  a {
    color: #e8e8e8 !important;
  }

  h6 {
    background-color: #22405e;
    padding: 6px;
    color: white !important;
  }
}

@media (max-width: 767px) {
  .layout__content nav {
    width: 60px;
  }
}

.sidebar-sticky {
  .nav-link {
    &:hover,
    &:focus {
      background-color: #22405f;
    }

    i {
      font-size: 24px;
    }
  }
}

.nav-item__remaining-credit {
  margin: 0.5rem 1rem;
  color: white;

  .progress {
    margin: 6px 0;
    height: 0.1rem;
    background-color: #22405f;

    .progress-bar {
      background-color: white;
    }
  }
}
