<template name="Campaigns_Page">
  <div class="page__inner container">
    {{> Breadcrumb config=breadcrumdData}}

    <div class="alert alert-warning">
      <i class="fa fa-warning"></i> Les campagnes sont envoyées chaque jour à 9h du matin. Il n'est pas possible de programmer une campagne pour la
      journée en cours.
    </div>

    <div>
      <button class="btn btn-large btn-primary mb-3 pull-right" id="addCampaignButton" data-toggle="modal" data-target="#addCampaignModal">
        <i class="fa fa-plus"></i> Créer une nouvelle campagne</button>
      <h3 class="mb-0">Campagnes</h3>

    </div>
    {{#if campaigns.count}}
    <div class="mt-3">
      <!-- <h4>Campagnes automatisées</h4> -->
      <div class="row mt-3" style="width: 100%;">
        {{#each campaigns}}
        <div class="col-xl-4 col-sm-6 col-lg-6">
          {{> Campaign_Item campaign=this editable=true removable=true}}
        </div>
        {{/each}}
      </div>
    </div>

    {{else}}
    <div class="m-5 p-5 text-center">
      <div>
        <img src="/images/sleep.png" alt="pas de campagne" class="m-2">
      </div>
      <span class="text-muted">
        Vous n'avez pas campagne active
      </span>
    </div>
    {{/if}}
  </div>

  {{> Add_Campaign_Modal}} {{> Edit_Campaign_Modal}}
</template>