.campaign__campagne {
  border: 1px solid #bbb;
  padding: 24px;
  border-radius: 6px;
  text-align: center;
  margin-right: 24px;

  &:hover {
    background-color: #eaeaea;
  }

  i {
    font-size: 24px;
  }
}

.campaign__content {
  display: flex;
}
