<template name="Landing_Page">
  <div class="landing-page">
    <!-- <div id="page-loader">
      <div class="loader-container">
        <div class="loader-logo">
          <span>Chargement...</span>
        </div>
        <div class="loader"></div>
      </div>
    </div> -->
    <!-- ==============================================
                       **MAIN HEADER**
          =============================================== -->
    <header class="header-wrapper solid-bg">
      <div class="container-fluid">
        <div class="row banner-content">
          <div class="banner-meta">
            <h1>Automatiser vos campagnes de communication</h1>
            <p class="lead">Créez votre base de donnée. Créer vos campagnes de communication. Suivez vos statistiques.</p>
            <p>
              <a href="#" class="btn btn-danger btn-theme-primary" data-toggle="modal" data-target="#registerForm">Cliquez ici pour commencer</a>
            </p>
          </div>
          <span class="banner-image">
            <img src="images/web-app-2.png" alt="image" class="img-responsive">
          </span>

        </div>
      </div>
      <!-- End Container -->
    </header>

    <!-- ==============================================
                     **PARTNERS**
        =============================================== -->
    <section id="partners" class="ptb-30 bg-gray">
      <div class="container">
        <div class="row">

        </div>
      </div>
      <!-- End Container -->
    </section>
    <!-- End Section -->


    <!-- ==============================================
                     **FUNCTIONALITIES**
        =============================================== -->
    <section class="ptb-100 functionalities bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-6 col-xs-12">
            <div class="main-title">
              <h3>Créer votre base de donnée client</h3>
              <div class="seperator"></div>
            </div>
            <p>Répertoriez toutes les personnes ayant fait des achats avec vous. Prenez des mêmes des notes personnelles sur
              chacune d'entre elle et gardez les en mémoire dans votre base de données profesionnelle.</p>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
            <img src="images/base-client.png" class="img-responsive" alt="image">
          </div>
        </div>
      </div>
      <!-- End Container -->
    </section>
    <!-- End Section -->
    <section class="ptb-100 functionalities bg-gray">
      <div class="container">
        <div class="row">
          <div class="col-md-5 col-sm-6 col-xs-12">
            <img src="images/lp-segmentation.png" class="img-responsive" alt="image">
          </div>
          <div class="col-md-7 col-sm-6 col-xs-12">
            <div class="main-title">
              <h3>Créer vos listes client</h3>
              <div class="seperator"></div>
            </div>
            <p>Créer vos listes client en fonction de leur typologie, leurs fréquentations ou encore leurs réservations afin
              de pouvoir communiquer efficacement auprés d'un groupe ciblé de personne.</p>
          </div>

        </div>
      </div>
      <!-- End Container -->
    </section>
    <!-- End Section -->
    <section class="ptb-100 functionalities bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-6 col-xs-12">
            <div class="main-title">
              <h3>Analyser vos statistiques</h3>
              <div class="seperator"></div>
            </div>
            <p>Gardez un oeil sur l'évolution de vos statistiques qui comptabilise vos nouveaux contacts, vos SMS envoyés et
              le nombre de passage dans votre point de vente.</p>
          </div>
          <div class="col-md-5 col-sm-6 col-xs-12">
            <img src="images/lp-stats.jpg" class="img-responsive" alt="image">
          </div>
        </div>
      </div>
      <!-- End Container -->
    </section>
    <!-- End Section -->

    <!-- ==============================================
                     **MAIN FEATURES**
        =============================================== -->
    <section class="main-features ptb-100">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <img src="images/new-campaign.png" alt="image">
          </div>
          <div class="content-holder pt-4 col-md-4 col-sm-12">
            <h2>Configurer vos campagnes de communication</h2>
            <p class="features-note">Créez des campagnes 100% efficace en ciblant vos destinataires et en personnalisant les messages. Grâce à notre
              système d'envoi choississez la fréquence et le mode de répétition pour pouvoir créer une campagne totalement
              autonome.
            </p>
          </div>
        </div>
      </div>
      <div class="container pt-5">
        <div class="row">
          <div class="features col-md-4">
            <aside class="icon-holder">
              <span class="icon ti-desktop"></span>
            </aside>
            <aside class="features-content">
              <h6>Segmenter vos campagnes</h6>
              <p>Vous pouvez choisir d'envoyer votre campagnes à des listes prédéfinis ou à tous vos contacts.
              </p>
            </aside>
          </div>
          <div class="features col-md-4">
            <aside class="icon-holder">
              <span class="icon ti-comments"></span>
            </aside>
            <aside class="features-content">
              <h6>Augmenter votre taux d'ouverture</h6>
              <p>Atteignez un taux de 90% d'ouverture de vos messages avec la personnalisation de l'émetteur.
              </p>
            </aside>
          </div>
          <div class="features col-md-4">
            <aside class="icon-holder">
              <span class="icon ti-book"></span>
            </aside>
            <aside class="features-content">
              <h6>Création de scénarios automatisés</h6>
              <p>Gagnez du temps sur vos prochaines campagnes en programmant des scénarios complétement automatisés.</p>
            </aside>
          </div>
        </div>
      </div>
      <!-- End Container -->
    </section>
    <!-- End Section -->

    <section class="ptb-100" id="rgpd-section">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-6 col-xs-12">
            <img src="images/rgpd.png" class="img-responsive" alt="image">
          </div>
          <div class="col-md-10 col-sm-6 col-xs-12">
            <div class="main-title">
              <h3>Talaris est conforme au RGPD</h3>
              <div class="seperator"></div>
            </div>
            <p>Le règlement général sur la protection des données (RGPD) est un règlement de l'Union européenne qui constitue
              le texte de référence en matière de protection des données à caractère personnel. Talaris vous permet de gérer
              vos données clients en toute légalité.</p>
          </div>
        </div>
      </div>
    </section>

    <!-- ==============================================
                             **PRICING TABLE**
        =============================================== -->
    <section class="pricing-table ptb-100">
      <div class="container">
        <div class="row clearfix">

          <!-- List Of features -->
          <div class="col-md-4 d-none d-md-block">

            <!-- Pricing label -->
            <div class="price-choose text-center">Choisir un plan</div>

            <!-- Features -->
            <ul class="price-features">
              <li>
                <i class="fa fa-database"></i>Base de données</li>
              <li>
                <i class="fa fa-envelope"></i>Envoi SMS</li>
              <li>
                <i class="fa fa-leanpub"></i>Personnalisation</li>
              <li>
                <i class="fa fa-bar-chart-o"></i>Tableau de bord</li>
              <li>
                <i class="fa fa-user"></i>Support client</li>
            </ul>
          </div>

          <div class="col-md-8">
            <div class="container">
              <div class="row">
                <!-- First List -->
                <div class="col-md-4 col-sm-6 text-center pricing-col">
                  <div class="head bg-theme-primary">
                    <h4 class="pricing-title">Start</h4>
                  </div>

                  <!-- Pricing label -->
                  <div class="price">
                    <span class="pricing-currency">€</span>
                    <span class="pricing-price">49</span>
                    <span>/mois</span>
                  </div>
                  <ul>
                    <li>
                      <span class="hidden-md hidden-lg">
                        <i class="fa fa-database"></i>
                      </span>
                      1000 contacts max
                    </li>
                    <li>
                      <span class="hidden-md hidden-lg">
                        <i class="fa fa-send"></i>
                        250 SMS
                      </span>
                    </li>
                    <li>
                      Titre personnalisé
                      <i class="fa fa-check"></i>
                    </li>
                    <li>
                      <i class="fa fa-bar-chart-o"></i> Statistiques
                      <i class="fa fa-check"></i>
                    </li>
                    <li>
                      <span class="hidden-md hidden-lg">
                        Support client:
                      </span>
                      24/7
                    </li>
                    <li class="footer">
                      <button class="btn btn-rounded-white-fill" data-toggle="modal" data-target="#registerForm">Choisir</button>
                    </li>
                  </ul>
                </div>

                <!-- Second List -->
                <div class="col-md-4 col-sm-6 text-center pricing-col">
                  <div class="head bg-theme-primary">
                    <h4 class="pricing-title">pro</h4>
                  </div>

                  <!-- Pricing label -->
                  <div class="price">
                    <span class="pricing-currency">€</span>
                    <span class="pricing-price">99</span>
                    <span>/mois</span>
                  </div>
                  <ul>
                    <li>
                      <span class="hidden-md hidden-lg">
                        <i class="fa fa-database"></i>
                      </span>
                      3000 contacts max
                    </li>
                    <li>
                      <span class="hidden-md hidden-lg">
                        <i class="fa fa-send"></i>
                        500 SMS
                      </span>
                    </li>
                    <li>
                      Titre personnalisé
                      <i class="fa fa-check"></i>
                    </li>
                    <li>
                      <i class="fa fa-bar-chart-o"></i> Statistiques
                      <i class="fa fa-check"></i>
                    </li>

                    <li>
                      <span class="hidden-md hidden-lg">
                        Support client:
                      </span>
                      24/7
                    </li>
                    <li class="footer">
                      <button class="btn btn-rounded-white-fill" data-toggle="modal" data-target="#registerForm">Choisir</button>
                    </li>
                  </ul>
                </div>

                <!-- Third List -->
                <div class="col-md-4 col-sm-6 text-center pricing-col">
                  <div class="head bg-theme-primary">
                    <h4 class="pricing-title">Entreprise</h4>
                  </div>

                  <!-- Pricing label -->
                  <div class="price">
                    <span class="pricing-currency">€</span>
                    <span class="pricing-price">199</span>
                    <span>/mois</span>
                  </div>

                  <ul>
                    <li>
                      <span class="hidden-md hidden-lg">
                        <i class="fa fa-database"></i>
                        contacts illimités
                      </span>
                    </li>
                    <li>
                      <span class="hidden-md hidden-lg">
                        <i class="fa fa-send"></i>
                        1000 SMS
                      </span>

                    </li>
                    <li>
                      Titre personnalisé
                      <i class="fa fa-check"></i>
                    </li>
                    <li>
                      <i class="fa fa-bar-chart-o"></i> Statistiques
                      <i class="fa fa-check"></i>
                    </li>
                    <li>
                      <span class="hidden-md hidden-lg">
                        Support client:
                      </span>
                      24/7
                    </li>
                    <li class="footer">
                      <button class="btn btn-rounded-white-fill" data-toggle="modal" data-target="#registerForm">Choisir</button>
                    </li>
                  </ul>
                </div>

              </div>

            </div>

          </div>

        </div>
      </div>
      <!-- End Container -->
    </section>
    <!-- End Section -->

    <section class="text-center lp__final ptb-100">
      <div class="container">
        <div class="bar aos-init" data-aos="fade-up">
          <div class="h3">Créez vos campagnes automatisées maintenant</div>
          <button class="btn btn-danger mt-2" data-toggle="modal" data-target="#registerForm">
            <span>Cliquez ici pour commencer gratuitement</span>
          </button>
        </div>
      </div>
    </section>

    <div class="landing-page__footer">
      <div class="container">

        <div class="lp-footer__links">
          <a href="mailto:contact@talaris.io">
            Contact
          </a>
          <a href="#" target="_blank">
            Politique de confidentialité
          </a>
          <a href="#" target="_blank">
            Mentions Légales
          </a>
          <a href="{{pathFor 'userAgreement'}}">
            CGV
          </a>
          <a href="mailto:contact@talaris.io">
            Support
          </a>

          <div class="social">
            <a class="social-a icon-facebook" href="#"></a>
          </div>

          <div class="footer-foot mt-3">
            <div class="copyright">
              Copyright © 2018, Talaris SAS, Tous droits réservés.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" tabindex="-1" role="dialog" id="registerForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center bg-primary">
          <img src="/images/logo-text-40.png" alt="Talaris logo" class="">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {{#if registerDone}}
        <div class="modal-body">
          Merci de vous êtes inscrit sur Talaris. Notre conseiller commercial vous contactera au plus tôt.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
        {{else}}
        <form id="registerForm__form">
          <div class="modal-body">
            {{#with errorMessage}}
            <div class="alert alert-danger">{{this}}</div>
            {{/with}}
            <div class="form-group container">
              <div class="row">
                <div class="col-xs-6 mr-3">
                  <input type="text" name="firstname" id="registerFirstname" class="form-control" placeholder="Prénom" required autocomplete="given-name">
                </div>

                <div class="col-xs-6">
                  <input type="text" name="lastname" id="registerLastname" class="form-control" placeholder="Nom" required autocomplete="family-name">
                </div>
              </div>
            </div>

            <div class="form-group">
              <input type="text" name="company" id="registerCompany" class="form-control" required placeholder="Entreprise">
            </div>

            <div class="form-group">
              <input type="email" name="email" id="registerEmail" class="form-control" placeholder="Email" required autocomplete="email">
            </div>
            <div class="form-group">
              <input type="tel" name="phone" id="registerPhone" class="form-control" placeholder="Téléphone" required autocomplete="tel">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
            <button type="submit" class="btn btn-primary" disabled="{{isLoading}}">{{#if isLoading}}
              <i class="fa fa-spin fa-spinner"></i> {{/if}}Créer mon compte</button>
          </div>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
</template>
