<template name="Edit_List_Modal">
  <div class="modal add-list-modal" tabindex="-1" role="dialog" id="editListModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Modifier la liste</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="name">
              Nom de la liste
            </label>
            <input type="text" class="form-control" id="name" value="{{list.name}}">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary js-edit-list">Modifier</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</template>