<template name="Contact_Detail_Page">
  {{#with contact}}
  <div class="container page__inner">
    <div>
      {{> Breadcrumb config=breadcrumbData}}
      <div class="contact-detail__header page-inner__block">

        <div class="contact-detail__title">
          <h2>{{firstname}} {{lastname}}</h2>
          {{#unless complementaryFields}}
          <div class="dropdown mb-3">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              Ajouter une information
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              {{#unless contact.birthdayDate}}
              <a class="dropdown-item" data-toggle="modal" data-target="#editBirthdayModal" href="#">Date anniversaire</a>
              {{/unless}} {{#unless contact.gender}}
              <a class="dropdown-item" data-toggle="modal" data-target="#editGenderModal" href="#">Sexe</a>
              {{/unless}} {{#unless contact.note}}
              <a class="dropdown-item" data-toggle="modal" data-target="#editNoteModal" href="#">Note</a>
              {{/unless}}
            </div>
          </div>
          {{/unless}} {{#with zipcode}}
          <div>
            <i class="fa fa-map-marker"></i> {{this}}</div>

          {{/with}} {{#with phone}}
          <div>
            <i class="fa fa-phone"></i> {{this}}</div>
          {{/with}} {{#with email}}
          <div>
            <i class="fa fa-envelope"></i> {{this}}
          </div>
          {{/with}} {{#with birthdayDate}}
          <div>
            <i class="fa fa-birthday-cake"></i> {{moFormat this "DD/MM"}}
          </div>
          {{/with}} {{#with note}}
          <div>
            <i class="fa fa-info-circle text-danger"></i> {{this}}</div>
          {{/with}}
        </div>
        {{#if gender}}
        <img src="/images/profile-{{gender}}.png" alt="{{firstname}} {{lastname}}"> {{/if}}

        <div>

          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle pull-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-cog"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" data-toggle="modal" data-target="#editContactModal" href="#">
                <i class="fa fa-edit"></i> Modifier</a>
              <a class="dropdown-item js-delete-contact" href="#">
                <i class="fa fa-trash"></i> Supprimer</a>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="page-inner__block col-sm-8">
            <h4>Dernier passages
              <button class="btn btn-secondary btn-sm pull-right" data-toggle="modal" data-target="#addCheckoutModal">
                <i class="fa fa-plus"></i> Ajouter</button>
            </h4>

            <div>
              {{#each lastCheckouts}}
              <div>Passage enregistré le {{moFormat date "DD/MM/YYYY à HH:mm"}}{{#with description}} ({{this}}){{/with}}</div>
              {{/each}}
            </div>
          </div>

          <div class="contact-detail__lists page-inner__block col-sm-4">
            <h5>Listes</h5>
            <div>
              {{#each allLists}}
              <label>
                <input type="checkbox" checked={{isInList}} class="js-change-list" data-list={{_id}}> {{name}}
              </label>
              {{/each}}
            </div>
          </div>

        </div>

      </div>



      {{#if lastSms.count}}
      <div class="page-inner__block">
        <h4>Derniers SMS reçus</h4>
        <div>
          {{#each lastSms}}
          <div>
            <div class="contact-detail__sms">"{{message}}"</div>
            <span class="contact-detail__sms-date">envoyé à {{moFormat createdAt "DD/MM/YYYY à HH:mm"}}</span>
          </div>
          {{/each}}
        </div>
      </div>
      {{/if}}
    </div>
  </div>
  {{/with}} {{> Add_Checkout_Modal}} {{> Edit_Contact_Modal contact=contact}} {{> Edit_Birthday_Modal}} {{> Edit_Gender_Modal}}
  {{> Edit_Note_Modal contact=contact}}
</template>


<template name="Edit_Note_Modal">
  <div class="modal edit-note-modal" tabindex="-1" role="dialog" id="editNoteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Editer la note</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="note">Note</label>
            <textarea class="form-control" name="note" id="note" rows="5">{{contact.note}}</textarea>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary js-edit-info-contact">Ajouter</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="Edit_Birthday_Modal">
  <div class="modal edit-birthday-modal" tabindex="-1" role="dialog" id="editBirthdayModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Editer la date d'anniversaire</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="birthdayDate">Date d'anniversaire</label>
            <input type="text" id="datepicker" name="birthdayDate">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary js-edit-info-contact">Ajouter</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="Edit_Gender_Modal">
  <div class="modal edit-gender-modal" tabindex="-1" role="dialog" id="editGenderModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">Editer le genre</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="gender">Genre</label>
            <select id="datepicker" name="gender">
              <option value="female">Femme</option>
              <option value="male">Homme</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary js-edit-info-contact">Ajouter</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
</template>