.contact-detail__header {
  display: flex;

  h2::first-letter {
    text-transform: uppercase;
  }

  img {
    flex: none;
    height: 100px;
    width: 100px;
  }
}

.contact-detail__title {
  flex: 1 1 auto;
}

.contact-detail__sms {
  font-style: italic;
  margin-top: 12px;
}

.contact-detail__sms-date {
  font-size: 0.8rem;
}

.contact-detail__aside {
  button {
    margin-bottom: 6px;
  }
}

.contact-detail__lists {
  label {
    display: block;
  }
}
