<template name="Layout">
  {{> Navbar}}
  <div>
    <div class="layout__content">
      {{> Navleft}}
      <div class="container-fluid main__container">
        <main>
          {{#if isReady}} {{> Template.dynamic template=main}}{{else}}{{> Loading_Page}}{{/if}}
        </main>
        <footer class="p-3">
          <div class="lp-footer__links">
            <a href="mailto:contact@talaris.io">
              Contact
            </a>
            <a href="#" target="_blank">
              Politique de confidentialité
            </a>
            <a href="#" target="_blank">
              Mentions Légales
            </a>
            <a href="{{pathFor 'userAgreement'}}">
              CGV
            </a>
            <a href="mailto:contact@talaris.io">
              Support
            </a>

            <div class="footer-foot mt-2">
              <div class="copyright">
                Copyright © 2018, Talaris SAS, Tous droits réservés.
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>
  {{> Add_List_Modal}}
</template>

<template name="Public_Layout">
  <div class="layout__content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <main>
            {{> Template.dynamic template=main}}
          </main>
          <footer>
            © Talaris 2018
          </footer>
        </div>
      </div>
    </div>

  </div>

</template>

<template name="Layout_Noauth">
  {{> Navbar}}
    <div class="layout__content">
      <div class="container-fluid main__container">
        <div class="row">
          <main class="col-md-12">
            {{> Template.dynamic template=main}}
          </main>
        </div>
      </div>
    </div>
</template>