body {
  height: 100vh;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 48px;
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}


.dataTables_wrapper {
  display: block !important;
}

nav.fixed-top {
  height: 56px;
}

body {
  background-color: whitesmoke;
}

.layout__content {
  display: flex;
  align-items: stretch;
  min-height: 100vh;

  main {
    flex: 1 1 auto;
  }

  nav {
    width: 240px;
    flex: none;
  }
}

.page__inner {
  padding: 0;
}

.main__container {
  padding: 0;
  margin-top: 56px;
  // background: linear-gradient(309deg, #cddbf0 0%, #f9fdff 100%);
  // background-color: #22405f;
  // background-color:#2E406F;

  main {
    padding: 24px;
    min-height: calc(100% - 79px);
  }

  footer {
    color: #9a9999;
    padding: 6px;
    border-top: 1px solid #eaeaea;

    a {
      color: #9a9999;
    }
  }
}

.has-error {
  .help-block {
    color: red;
  }
}

.page-inner__block {
  background-color: white;
  padding: 24px;
  border: 1px solid #bbb;
  margin-bottom: 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 83ms;
}

.page-inner__item {
  margin-bottom: 12px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 3px rgba(0, 0, 0, 0.2);
  transition: box-shadow 83ms;
  background-color: white;
  border-radius: 6px;

  header {
    background-color: #2b4965;
    padding: 12px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    border-radius: 6px 6px 0 0;
    color: white;

    h3 {
      flex: 1 1 auto;
      font-size: 1rem;
      margin-bottom: 0;
    }
  }

  main {
    padding: 24px;
  }
}

.page-breadcrumb {
  margin-bottom: 12px;
  padding: 2px 8px;
  font-size: 0.8rem;
  background-color: white;
  border-radius: 6px;
  border: 1px solid #eaeaea;
}

.page-breadcrumb__parent {
  a {
    color: #404040;
  }
}

footer {
  text-align: center;
  font-size: 0.8rem;
}

.dropdown-menu {
  right: 0;
  left: inherit;
}

h3 {
  color: #2b4965;
}

#pfy-powered > a {
  display: none;
}

#__blaze-root {
  height: 100vh;
}
