<template name="Enroll_Account_Page">
  <div class="page__inner container">
    <div class="page-inner__block">
      <h2>Bienvenue sur Talaris</h2>
      <form>
        <p>Pour activer votre compte, il suffit de créer un mot de passe et accepter les conditions d'utilisation.</p>
        <div class="form-group">
          <label for="password">Votre mot de passe</label>
          <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div class="form-label-group register__agreement">
          <label for="acceptAgreement">
            <input type="checkbox" name="acceptAgreement" id="acceptAgreement" required> J'accepte les
            <a href="{{pathFor 'userAgreement'}}">conditions générales d'utilisation</a>
          </label>
        </div>
        <div class="pb-5">
          <button class="btn btn-primary float-right js-reset-password" type="submit">Créer mon mot de passe</button>
        </div>
      </form>
    </div>
  </div>
</template>