<template name="Lists_Page">
  <div class="page__inner container">
    {{> Breadcrumb config=breadcrumdData}}
    <button class="btn btn-primary js-add-list pull-right" data-toggle="modal" data-target="#addListModal">
      <i class="fa fa-plus"></i> Ajouter une liste</button>
    <h3>Listes</h3>
    <div class="row">
    </div>

    {{#if listCount}}

    <table class="table table-striped table-condensed border mt-3">
      <tr>
        <th>Liste</th>
        <th class="text-center">Contacts</th>
        <th></th>
      </tr>
      {{#each lists}}
      <tr class="col-sm-6">
        <!-- {{> List_Item list=this}} -->
        <td>{{name}}</td>
        <td class="text-center">{{count}}
        </td>
        <td class="text-right">
          <a href="{{pathFor 'listDetail' listId=_id}}">détails</a>
        </td>
      </tr>
      {{/each}}

    </table>

    {{else}}

    <div class="m-5 p-5 text-center">
      <div>
        <img src="/images/lists.png" alt="listes" class="m-2">
      </div>
      <span class="text-muted">
        Vous n'avez pas encore de listes
      </span>
    </div>

    {{/if}}
    <!-- <div class="row mt-3">
      {{#each lists}}
      <div class="col-sm-6">
        {{> List_Item list=this}}
      </div>
      {{else}}
      <div class="page-inner__block col-sm-12">Vous n'avez pas encore de liste.</div>
      {{/each}}
    </div> -->
  </div>
</template>